Source: opsi-windows-support
Maintainer: uib GmbH <info@uib.de>
Section: opsi
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 7.0.50~)

Package: opsi-windows-support
Architecture: all
Depends: wget, p7zip-full, cabextract, ${shlibs:Depends}, ${misc:Depends}

Description: Install utilities useful for deploying Windows with opsi.

